In [2]:
import pandas as pd
import numpy as np

In [3]:
import datetime

In [62]:
df = pd.read_excel('Test.xlsx')
df2 = pd.read_excel('Test.xlsx', sheet_name="Wykonania")

In [63]:
df = df.rename(columns ={'Produkt':'KOD_POLPRODUKTU'})

In [65]:
df3 = pd.merge(df2, df, on='KOD_POLPRODUKTU',how='outer')
df3

,KOD_POLPRODUKTU,TYP_STANU,ILOSC,DATA_WPROWADZENIA,OSOBY,Produkt_jm,Typ_operacji,Czas_s/szt,Szt/h,Czas_przygotowawczy w sek.
0,3052.03,ZAKŁAD NR 1,123.0,2021-05-26 13:39:06.097,3.0,SZT,A1-B1,50.0,72.0,400.0
1,3773,ZAKŁAD NR 1,20.0,2021-05-26 13:39:25.922,3.0,SZT,A1-B1,30.0,120.0,400.0
2,3773,ZAKŁAD NR 1,500.0,2021-06-24 13:38:16.517,3.0,SZT,A1-B1,30.0,120.0,400.0
3,3574.10,ZAKŁAD NR 1,120.0,2021-05-26 13:39:50.076,3.0,SZT,A1-B5,40.0,90.0,400.0
4,3E98,ZAKŁAD NR 1,101.0,2021-05-26 13:41:15.495,3.0,SZT,A1-B1,60.0,60.0,400.0
...,...,...,...,...,...,...,...,...,...,...
4018,3576.01,NaN,NaN,NaT,NaN,SZT,A1-B5,60.0,60.0,400.0
4019,4290.02,NaN,NaN,NaT,NaN,SZT,A1-B1,25.0,144.0,400.0
4020,3D45.011,NaN,NaN,NaT,NaN,SZT,A1-B1,300.0,12.0,400.0
4021,3D13,NaN,NaN,NaT,NaN,SZT,A1-B1,240.0,15.0,400.0
4022,4030.08,NaN,NaN,NaT,NaN,SZT,A1-B1,30.0,120.0,400.0

In [81]:
df3 = df3.set_index(pd.DatetimeIndex(df3['DATA_WPROWADZENIA']))
pierwsza = df3.between_time('6:00', '14:00')
druga = df3.between_time('14:00', '22:00')

In [67]:
pierwsza

,KOD_POLPRODUKTU,TYP_STANU,ILOSC,DATA_WPROWADZENIA,OSOBY,Produkt_jm,Typ_operacji,Czas_s/szt,Szt/h,Czas_przygotowawczy w sek.
DATA_WPROWADZENIA,,,,,,,,,,
2021-05-26 13:39:06.097,3052.03,ZAKŁAD NR 1,123.0,2021-05-26 13:39:06.097,3.0,SZT,A1-B1,50.0,72.0,400.0
2021-05-26 13:39:25.922,3773,ZAKŁAD NR 1,20.0,2021-05-26 13:39:25.922,3.0,SZT,A1-B1,30.0,120.0,400.0
2021-06-24 13:38:16.517,3773,ZAKŁAD NR 1,500.0,2021-06-24 13:38:16.517,3.0,SZT,A1-B1,30.0,120.0,400.0
2021-05-26 13:39:50.076,3574.10,ZAKŁAD NR 1,120.0,2021-05-26 13:39:50.076,3.0,SZT,A1-B5,40.0,90.0,400.0
2021-05-26 13:41:15.495,3E98,ZAKŁAD NR 1,101.0,2021-05-26 13:41:15.495,3.0,SZT,A1-B1,60.0,60.0,400.0
...,...,...,...,...,...,...,...,...,...,...
2021-06-25 13:35:57.657,3B38,ZAKŁAD NR 1,54.0,2021-06-25 13:35:57.657,3.0,SZT,A1-B5,40.0,90.0,400.0
2021-06-25 13:36:10.289,3201.03,ZAKŁAD NR 1,96.0,2021-06-25 13:36:10.289,3.0,SZT,A1-B1,60.0,60.0,400.0
2021-06-25 13:37:09.161,3826.01,ZAKŁAD NR 2,4.0,2021-06-25 13:37:09.161,10.0,SZT,A1-B1,100.0,36.0,400.0
2021-06-25 13:37:23.785,3A36.05,ZAKŁAD NR 2,15.0,2021-06-25 13:37:23.785,10.0,SZT,A1-B1,40.0,90.0,400.0
2021-06-25 13:38:28.499,3058.05,ZAKŁAD NR 2,1.0,2021-06-25 13:38:28.499,10.0,SZT,A1-B1,50.0,72.0,400.0

In [68]:
def count_work_time(amount):
    return amount * 27000

pierwsza = pierwsza.drop(columns=['DATA_WPROWADZENIA'], axis=1) #DROP JESLI JEST INDEX
pierwsza = pierwsza.reset_index()

pierwsza['czas_pracy_na_zmiane'] = pierwsza[['OSOBY']].apply(lambda pierwsza: count_work_time(pierwsza['OSOBY']), axis=1)

pierwsza

,DATA_WPROWADZENIA,KOD_POLPRODUKTU,TYP_STANU,ILOSC,OSOBY,Produkt_jm,Typ_operacji,Czas_s/szt,Szt/h,Czas_przygotowawczy w sek.,czas_pracy_na_zmiane
0,2021-05-26 13:39:06.097,3052.03,ZAKŁAD NR 1,123.0,3.0,SZT,A1-B1,50.0,72.0,400.0,81000.0
1,2021-05-26 13:39:25.922,3773,ZAKŁAD NR 1,20.0,3.0,SZT,A1-B1,30.0,120.0,400.0,81000.0
2,2021-06-24 13:38:16.517,3773,ZAKŁAD NR 1,500.0,3.0,SZT,A1-B1,30.0,120.0,400.0,81000.0
3,2021-05-26 13:39:50.076,3574.10,ZAKŁAD NR 1,120.0,3.0,SZT,A1-B5,40.0,90.0,400.0,81000.0
4,2021-05-26 13:41:15.495,3E98,ZAKŁAD NR 1,101.0,3.0,SZT,A1-B1,60.0,60.0,400.0,81000.0
...,...,...,...,...,...,...,...,...,...,...,...
555,2021-06-25 13:35:57.657,3B38,ZAKŁAD NR 1,54.0,3.0,SZT,A1-B5,40.0,90.0,400.0,81000.0
556,2021-06-25 13:36:10.289,3201.03,ZAKŁAD NR 1,96.0,3.0,SZT,A1-B1,60.0,60.0,400.0,81000.0
557,2021-06-25 13:37:09.161,3826.01,ZAKŁAD NR 2,4.0,10.0,SZT,A1-B1,100.0,36.0,400.0,270000.0
558,2021-06-25 13:37:23.785,3A36.05,ZAKŁAD NR 2,15.0,10.0,SZT,A1-B1,40.0,90.0,400.0,270000.0
559,2021-06-25 13:38:28.499,3058.05,ZAKŁAD NR 2,1.0,10.0,SZT,A1-B1,50.0,72.0,400.0,270000.0

In [69]:
def count_tech_time(ilosc, czas):
    return ilosc*czas

pierwsza['czas_technologiczny'] = np.vectorize(count_tech_time)(pierwsza['ILOSC'],pierwsza['Czas_przygotowawczy w sek.'])

In [70]:
# def wydajnosc(czas_zmiany, czas_technologiczny):
#     return str(round(((czas_technologiczny * czas_zmiany) * 100), 10)) + "%"

def wydajnosc(czas_technologiczny, czas_zmiany):
    return str(round(((czas_technologiczny / czas_zmiany) * 100),2)) + "%"

In [71]:
pierwsza['wydajnosc'] = np.vectorize(wydajnosc)(pierwsza['czas_technologiczny'], pierwsza['czas_pracy_na_zmiane'])

In [72]:
kolumns = ['DATA_WPROWADZENIA','czas_technologiczny', 'czas_pracy_na_zmiane','wydajnosc']

pierwsza_sample = pierwsza[kolumns]

In [73]:
pierwsza_sample #FINITO PIERWSZA ZMIANA

,DATA_WPROWADZENIA,czas_technologiczny,czas_pracy_na_zmiane,wydajnosc
0,2021-05-26 13:39:06.097,49200.0,81000.0,60.74%
1,2021-05-26 13:39:25.922,8000.0,81000.0,9.88%
2,2021-06-24 13:38:16.517,200000.0,81000.0,246.91%
3,2021-05-26 13:39:50.076,48000.0,81000.0,59.26%
4,2021-05-26 13:41:15.495,40400.0,81000.0,49.88%
...,...,...,...,...
555,2021-06-25 13:35:57.657,21600.0,81000.0,26.67%
556,2021-06-25 13:36:10.289,38400.0,81000.0,47.41%
557,2021-06-25 13:37:09.161,1600.0,270000.0,0.59%
558,2021-06-25 13:37:23.785,6000.0,270000.0,2.22%
559,2021-06-25 13:38:28.499,400.0,270000.0,0.15%

In [82]:
druga = druga.drop(columns=['DATA_WPROWADZENIA'], axis=1) #DROP JESLI JEST INDEX
druga = druga.reset_index()

druga['czas_pracy_na_zmiane'] = druga[['OSOBY']].apply(lambda druga: count_work_time(druga['OSOBY']), axis=1)

druga

,DATA_WPROWADZENIA,KOD_POLPRODUKTU,TYP_STANU,ILOSC,OSOBY,Produkt_jm,Typ_operacji,Czas_s/szt,Szt/h,Czas_przygotowawczy w sek.,czas_pracy_na_zmiane
0,2021-06-18 21:34:23.308,3463.05,ZAKŁAD NR 1,159.0,3.0,SZT,A1-B1,60.0,60.0,400.0,81000.0
1,2021-06-17 21:36:12.675,3B31,ZAKŁAD NR 2,20.0,4.0,SZT,A1-B1,500.0,7.0,400.0,108000.0
2,2021-06-23 21:41:51.011,3B31,ZAKŁAD NR 2,3.0,5.0,SZT,A1-B1,500.0,7.0,400.0,135000.0
3,2021-06-10 21:39:39.591,3G056.01,ZAKŁAD NR 2,1.0,3.0,KPL,A1-B1,280.0,13.0,400.0,81000.0
4,2021-06-24 21:44:53.498,3G056.01,ZAKŁAD NR 2,25.0,5.0,KPL,A1-B1,280.0,13.0,400.0,135000.0
...,...,...,...,...,...,...,...,...,...,...,...
282,2021-06-23 21:44:11.294,3E00,ZAKŁAD NR 2,250.0,5.0,SZT,A1-B1,40.0,90.0,400.0,135000.0
283,2021-06-24 21:42:17.083,3C30.482,ZAKŁAD NR 2,1.0,5.0,SZT,A1-B1,250.0,14.0,400.0,135000.0
284,2021-06-24 21:35:09.795,3C40.181,ZAKŁAD NR 1,248.0,2.0,SZT,A1-B1,55.0,65.0,400.0,54000.0
285,2021-06-24 21:39:20.156,3G130,ZAKŁAD NR 2,2.0,5.0,KPL,A1-B1,200.0,18.0,400.0,135000.0
286,2021-06-24 21:44:10.998,3D34.01,ZAKŁAD NR 2,64.0,5.0,SZT,A1-B1,100.0,36.0,400.0,135000.0

In [83]:
druga['czas_technologiczny'] = np.vectorize(count_tech_time)(druga['ILOSC'],druga['Czas_przygotowawczy w sek.'])

In [84]:
druga['wydajnosc'] = np.vectorize(wydajnosc)(druga['czas_technologiczny'], druga['czas_pracy_na_zmiane'])

In [85]:
kolumns = ['DATA_WPROWADZENIA','czas_technologiczny', 'czas_pracy_na_zmiane','wydajnosc']

druga_sample = druga[kolumns]

In [60]:
pierwsza_sample

,DATA_WPROWADZENIA,czas_technologiczny,czas_pracy_na_zmiane,wydajnosc
0,2021-05-26 13:39:06.097,49200.0,81000.0,60.74%
1,2021-05-26 13:39:25.922,8000.0,81000.0,9.88%
2,2021-06-24 13:38:16.517,200000.0,81000.0,246.91%
3,2021-05-26 13:39:50.076,48000.0,81000.0,59.26%
4,2021-05-26 13:41:15.495,40400.0,81000.0,49.88%
...,...,...,...,...
555,2021-06-25 13:35:57.657,21600.0,81000.0,26.67%
556,2021-06-25 13:36:10.289,38400.0,81000.0,47.41%
557,2021-06-25 13:37:09.161,1600.0,270000.0,0.59%
558,2021-06-25 13:37:23.785,6000.0,270000.0,2.22%
559,2021-06-25 13:38:28.499,400.0,270000.0,0.15%

In [86]:
druga_sample

,DATA_WPROWADZENIA,czas_technologiczny,czas_pracy_na_zmiane,wydajnosc
0,2021-06-18 21:34:23.308,63600.0,81000.0,78.52%
1,2021-06-17 21:36:12.675,8000.0,108000.0,7.41%
2,2021-06-23 21:41:51.011,1200.0,135000.0,0.89%
3,2021-06-10 21:39:39.591,400.0,81000.0,0.49%
4,2021-06-24 21:44:53.498,10000.0,135000.0,7.41%
...,...,...,...,...
282,2021-06-23 21:44:11.294,100000.0,135000.0,74.07%
283,2021-06-24 21:42:17.083,400.0,135000.0,0.3%
284,2021-06-24 21:35:09.795,99200.0,54000.0,183.7%
285,2021-06-24 21:39:20.156,800.0,135000.0,0.59%
286,2021-06-24 21:44:10.998,25600.0,135000.0,18.96%